<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ইন্টারনেট ও নেটওয়ার্ক পারমিশন -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- ক্যামেরা পারমিশন -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- ক্যামেরা ফিচার (সব ডিভাইসে যেন অ্যাপ ইন্সটল হতে সমস্যা না হয়) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
            android:label="স্মার্ট ভোটার"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="false"
            android:fullBackupContent="false"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config">

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Google ML Kit (টেক্সট/ভোটার কার্ড স্ক্যান করার জন্য প্রয়োজনীয় মডেল অটো-ডাউনলোড মেটা-ডাটা) -->
        <meta-data
            android:name="com.google.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <meta-data
                android:name="flutterEmbedding"
                android:value="2"/>
    </application>
</manifest>